@model IEnumerable<BlogApp.Data.Category>
@using BlogApp.HtmlHelpers


@if (Model.Count() > 0)
{
    <!-- Categories' list card -->
    <div class="card border-magenta mb-2 mb-md-0">
        <button class="btn btn-light text-left card-header d-block d-md-none" data-toggle="collapse" data-target="#collapseCategories"
                aria-expanded="true" aria-controls="collapseCategories">
            Categories
        </button>
        <!-- Category list -->
        <ul id="collapseCategories" class="list-group list-group-flush d-md-block collapse">
            @foreach (var category in Model)
            {
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    @Html.CategoryLink(category, "pr-2 pr-md-0")
                    <span class="badge badge-primary badge-pill">@category.Frequence</span>
                </li>
            }
        </ul>
        <!-- /.list-group -->
    </div>
    <!-- /.card -->
}
else
{
    <p>There are no categories yet!</p>
}
