@model IEnumerable<BlogApp.Data.Category>
@using BlogApp.HtmlHelpers

<!-- Left sidebar -->
<div class="card border-magenta">
    <button class="btn btn-light text-left card-header d-block d-md-none" data-toggle="collapse" data-target="#collapseCategories"
            aria-expanded="true" aria-controls="collapseCategories">
        Categories
    </button>
    <!-- Category list -->
    <ul id="collapseCategories" class="list-group list-group-flush d-md-block collapse">
        @foreach(var category in Model)
            {
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    @Html.CategoryLink(category, "pr-2 pr-md-0")
                    <span class="badge badge-primary badge-pill">@category.Frequence</span>
                </li>
            }
        @*<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <a href="#" class="pr-2 pr-md-0">Web-development</a>
            <span class="badge badge-primary badge-pill">2</span>
        </li>
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <a href="#" class="pr-2 pr-md-0">C#-programming</a>
            <span class="badge badge-primary badge-pill">5</span>
        </li>
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <a href="#" class="pr-2 pr-md-0">ASP.NET Core</a>
            <span class="badge badge-primary badge-pill">1</span>
        </li>
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <a href="#" class="pr-2 pr-md-0">ASP.NET</a>
            <span class="badge badge-primary badge-pill">10</span>
        </li>*@
    </ul>
    <!-- /.list-group -->
</div>
<!-- /.card -->
