@model BlogApp.Data.Post

<div class="card">
    <img class="card-img-top" src="#" alt="Card image cap" />
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Content</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
