@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="col-md-8">
    <div class="card border-magenta">
        <div class="text-danger card-header">Error</div>
        <div class="card-body">
            @{
                if (String.IsNullOrEmpty(ViewBag.ErrorMessage))
                {
                    <h2 class="text-danger">An error occurred while processing your request.</h2>
                }
                else
                {
                    <h3 class="text-danger">@ViewBag.ErrorMessage</h3>
                }
                }
            </div>
    </div>
</div>

