@{
    ViewBag.Title = "Confirm Email";
}

<div class="col-md-8">
    <div class="card border-magenta">
        <div class="card-header">
            @ViewBag.Title
        </div>
        <div class="card-body">
            <p>
                Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
    <!-- /.card -->
</div>
