@model BlogApp.Models.PostViewModel
@using BlogApp.HtmlHelpers

@{ 
    ViewBag.Title = "Latest Posts";
}

<!-- Blog posts -->
<div class="col-md-8">
    @if (Model.Posts.Count() > 0)
    {
        foreach (var post in Model.Posts)
        {
            @Html.Partial("_PostTemplate", post);
        }
    }
    else
    {
        <p>No posts found!</p>
    }
</div>
<!-- /.col-md-8 -->
<!-- Pagination -->
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>