@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Data</title>

    <!-- jQuery library-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <!-- jQuery UI library -->
    <script src="~/Content/themes/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <link href="~/Content/themes/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" />

    <!-- jqGrid-->
    <link href="~/Content/ui.jqgrid.min.css" rel="stylesheet" />
    <script src="~/Scripts/free-jqGrid/jquery.jqgrid.min.js"></script>
    <script src="~/Scripts/free-jqGrid/i18n/min/grid.locale-en.js"></script>

    <!-- tinyMCE-->
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>


</head>
<body>
    <div> 
    </div>
</body>
</html>
