@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en-us">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Data</title>

    <link href="~/Content/admin.css" rel="stylesheet" />

    <!-- jQuery library-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <!-- jQuery UI library -->
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <!-- jqGrid-->
    <link href="~/Content/ui.jqgrid.min.css" rel="stylesheet" />
    <script src="~/Scripts/free-jqGrid/jquery.jqgrid.min.js"></script>
    <script src="~/Scripts/free-jqGrid/i18n/min/grid.locale-en.js"></script>

    <!-- tinyMCE-->
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>

    <script src="~/Scripts/admin.js"></script>
</head>
<body>
    <div class="header">
        <div class="home">
            @Html.ActionLink("Home", "Index", new { controller = "Home" }, new { @class = "home-link" })
        </div>
        <!-- Logout link -->
        <div class="logout">
            @Html.ActionLink("Logout", "LogOff", "Account", new { @class = "logout-link" })
        </div>
    </div>
    <!--/.header -->

    <h2>Manage Data</h2>

    <div class="tab-posts">
        <table id="tablePosts" class="grid">
        </table>
        <div id="pagerPosts" class="pager">
        </div>
    </div>
    <!-- /#tab-posts -->
    <div class="wrapper">
        <div class="tab-categories">
            <table id="tableCategories" class="grid"></table>
            <div id="pagerCategories" class="pager">
            </div>
        </div>
        <!-- /.tab-categories -->
        <div class="tab-tags">
            <table id="tableTags" class="grid"></table>
            <div id="pagerTags" class="pager">
            </div>
        </div>
        <!-- /.tab-tags -->
    </div>
    <!-- /.wrapper-->
</body>
</html>
