@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en-us">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Data</title>

    @Styles.Render("~/Content/admincss", "~/Content/themes/base/css", "~/Content/jqgridcss")

</head>
<body>
    <div class="header">
        <div class="home">
            @Html.ActionLink("Home", "Index", new { controller = "Home" }, new { @class = "home-link" })
        </div>
        <!-- Logout link -->
        <div class="logout">
            @Html.ActionLink("Logout", "LogOff", "Account", new { @class = "logout-link" })
        </div>
    </div>
    <!--/.header -->

    <h2>Manage Data</h2>

    <div class="tab-posts">
        <table id="tablePosts" class="grid">
        </table>
        <div id="pagerPosts" class="pager">
        </div>
    </div>
    <!-- /#tab-posts -->
    <div class="wrapper">
        <div class="tab-categories">
            <table id="tableCategories" class="grid"></table>
            <div id="pagerCategories" class="pager">
            </div>
        </div>
        <!-- /.tab-categories -->
        <div class="tab-tags">
            <table id="tableTags" class="grid"></table>
            <div id="pagerTags" class="pager">
            </div>
        </div>
        <!-- /.tab-tags -->
    </div>
    <!-- /.wrapper-->

    @Scripts.Render("~/bundles/jquery", "~/bundles/adminjs", "~/bundles/jqueryui",
        "~/bundles/jqgrid", "~/bundles/tinymce")
</body>
</html>
