@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en-us">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Data</title>

    <!-- jQuery library-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <!-- jQuery UI library -->
    @*<script src="~/Content/themes/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <link href="~/Content/themes/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" />*@
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <!-- jqGrid-->
    <link href="~/Content/ui.jqgrid.min.css" rel="stylesheet" />
    <script src="~/Scripts/free-jqGrid/jquery.jqgrid.min.js"></script>
    <script src="~/Scripts/free-jqGrid/i18n/min/grid.locale-en.js"></script>

    <!-- tinyMCE-->
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>

    <link href="~/Content/admin.css" rel="stylesheet" />
    <script src="~/Scripts/admin.js"></script>
</head>
<body>
    <!-- Logout link -->
    <div class="logout-link">
        @Html.ActionLink("Logout", "LogOff", "Account")
    </div>

    <h2>Manage Data</h2>

    <div id="tab-posts">
        <table id="tablePosts" class="grid">
        </table>
        <div id="pagerPosts" class="pager">
        </div>
    </div>
    <!-- /#tab-posts -->
    <div id="tab-categories">
        <table id="tableCategories" class="grid">
        </table>
        <div id="pagerCategories" class="pager">
        </div>
    </div>
    <!-- /#tab-categories -->
    <div id="tab-tags"">
        <table id="tableTags" class="grid">
        </table>
        <div id="pagerTags" class="pager">
        </div>
    </div>
    <!-- /#tab-tags -->
</body>
</html>
